<%= form_for post, html: {class: "form-horizontal"} do |f| %>
  <%= render "shared/error_messages", resource: post if post.errors.any? %>

  <div class="form-group">
    <%= f.label :title, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :title, class: "form-control", autofocus: true, autocomplete: "title" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :body, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_area :body, class: "form-control", rows: 25, autofocus: true, autocomplete: "body" %>
    </div>
  </div>

  <div class="form-group">        
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-default" %>
    </div>
  </div>
<% end %>
