<div class="container">
  <h2>Post <%= @post.title %></h2>
  <div>by <%= link_to @post.user.name, "#" %></div><br><br>

  <div class="panel panel-default">
    <div class="panel-body">
      <%= @post.body %>
    </div>
    <% if can? :manage, @post %>
      <div class="panel-footer">
        <%= link_to "Update post", edit_post_path(@post) %> | <%= link_to "Delete post", post_path(@post), method: :delete %>
      </div>
    <% end %>
  </div>

  <h3>Comments</h3>
  
  <%= render partial: "comment", collection: @comments %>

  <%= paginate @comments %>
</div>
